[Desktop Entry]
Encoding=UTF-8
Name=MoneroTrust
Comment=MoneroTrust P2P Cryptocurrency
Comment[fr]=MoneroTrust, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MoneroTrust, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/monerotrust-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/monerotrust;
Categories=Office;
